"*":
  "atom-beautify":
    cpp:
      beautify_on_save: true
      configPath: "/home/matt/git/SetupScripts/dotfiles/ben.cfg"
    html:
      beautify_on_save: true
    js:
      beautify_on_save: true
  core:
    disabledPackages: [
      "linter-js-standard"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "atom-material-syntax-light"
    ]
  editor: {}
  "exception-reporting":
    userId: "d299bb68-975e-4be7-bbed-7d9497eb4395"
  "linter-js-standard":
    style: "semistandard"
  "linter-ui-default":
    panelHeight: 254
    showPanel: true
  welcome:
    showOnStartup: false
