"*":
  core:
    telemetryConsent: "no"
  editor:
    fontSize: 17
    softWrap: true
    softWrapHangingIndent: 4
    tabLength: 4
  "exception-reporting":
    userId: "05104c9c-8a82-4c05-af8c-d5f1a3a3510a"
  welcome:
    showOnStartup: false
